@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
  color: var(--tg-theme-secondary-bg-color);
}
header {
  display: flex;
  justify-content:
  center;
  align-items:
  center;
  margin-right: 60px;
  width: 100%;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  color: var(--tg-theme-text-color);

}
.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-12 {
  width: 100%;
}

.form-control {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 10px;
  line-height: 77%;
  margin: auto;
  display: block;
  margin-bottom: 10px;
}



.btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 10px;
  line-height: 77%;
  margin: auto;
  display: block;

}
