@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
  color: secondary_bg_color;
}
header {
  display: flex;
  justify-content:
  center;
  align-items:
  center;
  margin-right: 60px;
  width: 100%;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;

}
.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-12 {
  width: 100%;
}

.form-control {
  width: 70%;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 10px;
}

input {
  width: 70%;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 10px;
  margin-left: 30px;
  display: flex;
  justify-content:
  center;
  align-items:
  center;
   
}

.btn {
	background-color: var(--tg-theme-button-color);
	color: var(--tg-theme-button-text-color);
	width: 87%;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  margin-bottom: 10px;
  margin-left: 30px;
  display: flex;
  justify-content:
  center;
  align-items:
  center;
}
